@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

svg {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

.btn {
  cursor: pointer;
}

.lines path {
  stroke-dasharray: 0, 480;
}

is-engaged .engage path {
  fill: #f60;
  transition: all .5s ease;
}

.engage path:nth-child(2) {
  transition-delay: .2s;
}

.is-engaged .lines path {
  animation: draw .5s linear forwards;

}

@keyframes draw {

  0% {

    stroke-dasharray: 0, 480;
  }

  100% {

    stroke-dasharray: 480, 480;
  }
}

.is-engaged .btn path:nth-child(2) {
  fill: #f60;
}

.btn:active {
  transform: scale(1, 1);
}

.btn path:last-child:hover {
  fill: #f60;
}
